@import "tailwindcss";

/* Custom dark variant for Tailwind CSS v4 */
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ededed;
  --foreground: #09090b;
}

.dark {
  --background: #09090b;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
